@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --color-primary: #2d3480;
  --color-secondary: #c4e9ec;
} */

:root {
  --color-bg-main: #4a7766;
  --color-bg-accent: #ece7e2;
  --color-text-main: #575757;
  --color-text-accent: #ece7e2;
  --color-accent: #4a7766;
  --color-light: #ece7e2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-accent: #353535;
    --color-bg-main: #292929;
    --color-text-accent: #4a7766;
    --color-text-main: #ece7e2;
    --color-accent: #4a7766;
    --color-light: #ece7e2;
  }
}

body {
  /* background-color: rgb(165 180 252); */
  background-color: var(--color-bg-main);
  color: var(--color-text-accent);
  overscroll-behavior: none;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 80%;
  color: currentColor;
}
input::placeholder,
textarea::placeholder {
  opacity: 80%;
  color: currentColor;
}

.color-accent {
  background-color: var(--color-bg-accent);
  color: var(--color-text-main);
}

.color-bg-accent {
  background-color: var(--color-accent);
}
.color-text-accent {
  color: var(--color-accent);
}

.color-main {
  background-color: var(--color-bg-main);
  color: var(--color-text-accent);
}

.bg-primary {
  /* background-color: rgb(165 180 252); */
  background-color: var(--color-primary);
}

.bg-secondary {
  /* background-color: rgb(165 180 252); */
  background-color: var(--color-secondary);
}

.text-primary {
  color: var(--color-text-light);
}
