@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --color-primary: #2d3480;
  --color-secondary: #c4e9ec;
} */

:root {
  --color-bg-main: #4a7766;
  --color-bg-accent: #ece7e2;
  --color-text-main: #575757;
  --color-text-accent: #fdf1f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-accent: #4a7766;
    --color-bg-main: #ece7e2;
    --color-text-accent: #575757;
    --color-text-main: #fdf1f5;
  }
}

body {
  /* background-color: rgb(165 180 252); */
  background-color: var(--color-bg-main);
  color: var(--color-text-accent);
}

.color-accent {
  background-color: var(--color-bg-accent);
  color: var(--color-text-main);
}

.color-main {
  background-color: var(--color-bg-main);
  color: var(--color-text-accent);
}

.bg-primary {
  /* background-color: rgb(165 180 252); */
  background-color: var(--color-primary);
}

.bg-secondary {
  /* background-color: rgb(165 180 252); */
  background-color: var(--color-secondary);
}

.text-primary {
  color: var(--color-text-light);
}
