@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --color-primary: #2d3480;
  --color-secondary: #c4e9ec;
} */

:test-color-theme {
  --color: #2f4938;

  --color: #b6b2a3;
  --color: #344157;

  --color: #fcfcfc;
  --color: #202020;
}

:root {
  --color-bg-main: #f5f5f5;
  --color-bg-accent: #c5c5c5;
  --color-text-main: #292929;
  --color-text-accent: #c5c5c5;
  --color-accent: #202020;
  --color-light: #fcfcfc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-main: #292929;
    --color-bg-accent: #353535;
    --color-text-main: #c5c5c5;
    --color-text-accent: #668f4d;
    --color-accent: #668f4d;
    --color-accent-dark: #2f4938;
    --color-light: #ece7e2;
  }
}
* {
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
}

body {
  /* background-color: rgb(165 180 252); */
  /* background-color: var(--color-bg-main); */
  /* background: linear-gradient(0deg, var(--color-text-accent), var(--color-bg-accent)); */
  color: var(--color-text-main);
  overscroll-behavior: none;
  min-width: 360px;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 80%;
  color: currentColor;
}
input::placeholder,
textarea::placeholder {
  opacity: 80%;
  color: currentColor;
}

.color-accent {
  background-color: var(--color-bg-accent);
  color: var(--color-text-main);
}

.color-bg-accent {
  background-color: var(--color-accent);
}
.color-text-accent {
  color: var(--color-accent);
}

.color-main {
  background-color: var(--color-bg-main);
  color: var(--color-text-accent);
}

.bg-primary {
  /* background-color: rgb(165 180 252); */
  background-color: var(--color-bg-main);
}

.bg-secondary {
  /* background-color: rgb(165 180 252); */
  background-color: var(--color-secondary);
}

.text-primary {
  color: var(--color-text-light);
}
